<!DOCTYPE html>
<html>
<head>
  <title>Cabinet</title>

 <!--  STYLES: -->


  <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans:300,400,500' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag "application", :media => "all" %>

  <!--  SCRIPTS: -->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>


  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrap">
  <div id="header">
    <div id="up-left">
      <h1><%= link_to('/') do %></h1>
      <% end %>
      </div> <!-- closes #up-left -->

    <div id="up-right">
      <p>
        <% if current_user %>
        Hello <%= current_user.email %><br>
        <%= link_to "Log out", destroy_user_session_path, method: :delete %><br>
        <%= link_to "Edit Profile", edit_user_registration_path %>
      <% else %>
        <%= link_to "SIGN UP", new_user_registration_path, :id => "signup_corner_btn" %>
      <% end %>
      </p>
    </div> <!-- closes #up-right -->
  </div> <!-- closes #header -->


    <%= yield %>


</div> <!-- closes wrap -->

<div id="footer">
  <p>
    <%= link_to 'About', page_path('about') %> | <%= link_to 'Press', page_path('press') %> | <%= link_to 'Legal', page_path('legal') %></a>
  </p>
</div>

</body>
</html>
