<h1>Listing chatlines</h1>

<table>
  <tr>
    <th>Email</th>
    <th>Message</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @chatlines.each do |chatline| %>
  <tr>
    <td><%= chatline.email %></td>
    <td><%= chatline.message %></td>
    <td><%= link_to 'Show', chatline %></td>
    <td><%= link_to 'Edit', edit_chatline_path(chatline) %></td>
    <td><%= link_to 'Destroy', chatline, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Chatline', new_chatline_path %>
